@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --dark-bg-color: #1f2937;
  --med-bg-color: #2e3b4f;
  --light-bg-color: #e5e7eb;
  --hero-main-text: #f9faf8;
  --btn-color: #3882f6;
}

body {
  font-family: "Oswald", sans-serif;
}

img {
  width: 100%;
}

/* Header */
header {
  background-color: var(--dark-bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--hero-main-text);
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 18px;
}

.logo {
  cursor: pointer;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  cursor: pointer;
}

a {
  color: var(--hero-main-text);
}

nav ul li a:hover {
  color: var(--btn-color);
  transition: 0.2s ease-in-out;
}

button {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: 0;
  cursor: pointer;
}

/* Header Container */
.header-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  color: var(--hero-main-text);
}

.header-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
}

p {
  font-size: 1.5rem;
  color: rgb(220, 216, 216);
  width: 75%;
}

.btn {
  display: block;
  text-align: center;
  background-color: var(--btn-color);
  color: var(--hero-main-text);
  padding: 0.5rem;
  width: 8rem;
  border-radius: 0.5rem;
  font-weight: bolder;
}
.btn:hover {
  transition: 0.2s ease-in-out;
  background-color: transparent;
  outline: 1px solid var(--btn-color);
}

.hero-img {
  border: 4px solid white;
}

/* Section Gallery */
.gallery {
  margin: 0 auto 10rem auto;
}
h2 {
  font-size: 2rem;
  margin: 5rem 0;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  color: black;
}

.cards-container p {
  color: black;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.card-wrapper {
  flex-basis: 15rem;
}

.card-image {
  width: 15rem;
  height: 15rem;
  border: 5px solid var(--btn-color);
  border-radius: 1rem;
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-wrapper:nth-child(2) .card-image img {
  object-position: top;
}

.card-text {
  margin-top: 1rem;
}

.no-scroll {
  overflow: hidden;
}

/* Section - Testimonial */
section.testimonial {
  padding: 8rem;
  background-color: var(--light-bg-color);
  margin: 8rem 0;
  position: relative;
}

figure {
  display: flex;
  flex-direction: column;
  max-width: 56rem;
  margin: 0 auto;
}

figure::before {
  content: "";
  background: url(./images/quotation-marks-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 75%;
  height: 75%;
  position: absolute;
  top: 0rem;
  left: 0rem;
  opacity: 0.1;
}

figure::after {
  content: "";
  background: url(./images/quotation-marks-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 75%;
  height: 75%;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  opacity: 0.1;
}

blockquote {
  font-size: 2.2rem;
}

figcaption {
  font-size: 1.5rem;
  margin-top: 1rem;
  align-self: flex-start;
}

/* Section - Free Trial Class */
.free-trial-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--btn-color);
  max-width: 70rem;
  border-radius: 1rem;
  padding: 3rem;
  margin: 0 auto 7rem auto;
}

.text-container {
  flex: 1;
}

.free-trial-class h3 {
  font-size: 1.8rem;
  color: var(--hero-main-text);
  margin-bottom: 1rem;
}
.free-trial-class p {
  font-size: 1.3rem;
}

.btn-cta {
  background: transparent;
  display: block;
  text-align: center;
  border: 1px solid white;

  padding: 0.5rem;
  width: 8rem;
  border-radius: 0.5rem;
  font-weight: bolder;
}

.btn-cta:hover {
  transition: 0.2s ease-in-out;
  background-color: transparent;
  border: 1px solid var(--dark-bg-color);
}

/* Footer */
footer {
  text-align: center;
  background: var(--dark-bg-color);
  color: var(--light-bg-color);
  padding: 1.5rem;
}

/* Mobile View */
@media screen and (max-width: 48rem) {
  nav {
    display: initial;
    position: relative;
    padding: 0;
  }

  .logo {
    font-size: 2rem;
  }
  .nav-mobile {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    height: 10dvh;
    background-color: var(--dark-bg-color);
    z-index: 10000;
    position: relative;
  }
  #nav-links {
    display: none;
  }

  #navWrapper {
    transition: 0.5s ease-in-out;
    transform: translateY(-100%);
  }
  #navWrapper.active {
    height: 90dvh;
    background-color: var(--med-bg-color);
    transform: translateY(0%);
  }
  #nav-links.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }

  .bar {
    width: 2rem;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.5s;
  }

  .bar::before,
  .bar::after {
    content: "";
    display: block;
    position: absolute;
    width: 2rem;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.5s;
  }

  .bar::before {
    transform: translateY(-10px);
  }

  .bar::after {
    transform: translateY(10px);
  }

  /* Animation */
  .bar.active {
    transform: translateX(-50px);
    background: transparent;
  }
  .bar.active::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .bar.active::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* Header Container */
  .header-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
  }

  .header-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
  }

  /* Section - Testimonial  */
  section.testimonial {
    padding: 3rem;
  }
  blockquote {
    font-size: 1.5rem;
    text-align: center;
  }

  figcaption {
    align-self: center;
  }
  figure::before {
    width: 30%;
    height: 30%;
  }

  figure::after {
    width: 30%;
    height: 30%;
  }

  /* Free Trial Class */
  .free-trial-class {
    padding: 2rem;
    margin: 7rem 1.5rem;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}
